{% extends 'base.html.twig' %}

{% block title %}Administrador de proveedores{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
    {% block javascripts %} {{ parent() }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="admin__container">
            <div class="header__container">
                <a href="{{ path('index') }}" class="link__item">Ir al inicio</a>
            </div>
            <div class="main__container">
                <div class="options__container">
                    <a href="{{ path('agregar') }}" class="btn__primary btn__primary--link">Agregar</a>
                    <a href="{{ path('editar', {'idProveedor': 1}) }}" class="btn__primary btn__primary--link">Editar</a>
                    <a href="#" class="btn__primary btn__primary--link">Mostrar</a>
                </div>
                <div class="results__container">
                    <div class="results">
                        <div class="result result__title">
                            <span class="result__data">Nombre</span>
                            <span class="result__data">Correo</span>
                            <span class="result__data">Teléfono</span>
                            <span class="result__data">Tipo de proveedor</span>
                            <span class="result__data">Activo</span>
                            <span class="result__data">Acciones</span>
                        </div>


                        {% for proveedor in listaProveedores %}
{#                            {{ proveedor.getNombreTipoProveedor() }}#}
                        <div class="result">
                            <span class="result__data">{{ proveedor.nombre }}</span>
                            <span class="result__data">{{ proveedor.email }}</span>
                            <span class="result__data">{{ proveedor.telefono }}</span>
                            <span class="result__data">{{ proveedor.tipoProveedor.nombre }}</span>
                            <span class="result__data">{{ proveedor.activo ? 'Si' : 'No' }}</span>
                            <a href="{{ path('editar', {'idProveedor': proveedor.id}) }}" class="btn__small btn--green"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('eliminar', {'idProveedor': proveedor.id}) }}" class="btn__small btn--red"><i class="fa-solid fa-trash"></i></a>

                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}