{% extends 'base.html.twig' %}

{% block title %}Editar proveedor{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="admin__container">
            <div class="header__container">
                <a href="{{ path('administrator') }}" class="link__item">Volver</a>
                <a href="{{ path('index') }}" class="link__item">Ir al inicio</a>
            </div>
            <div class="main__container edit__provider">
                {{ form_start(editar_proveedor) }}
                {{ form_end(editar_proveedor) }}
            </div>
        </div>
    </div>

{% endblock %}